body{
  min-width:850px;
}
#container{
  width: 850px;
  height: 850px;
  overflow: visible;
  position: relative;
  margin: 0 auto;
}
#navbar{
  height: 60px;
}
#navbar h3{
  width: 100vw;
  margin: 0 auto !important;
}
#main{
  width:auto;
  /* padding: 5px; */
}
#container, #sidebar, #searchPanel {
  float: none;
}
#sidebar, #searchPanel{
  width: 100vw;
  text-align: center;
  margin: 0 auto;
}
#searchPanel input, #colorDropdown, #yearSlider{
  width: 80vw;
  height: 40px;
  border-radius: 40px;
  margin:0 auto;
}
#searchResults{
  min-height: none;
}
#legend{
  display: flex;
  justify-content: center;
  column-gap: 35px;
  flex-wrap:wrap;
}
#legend li p{
  /* margin: 0 auto; */
}
.bullet{
  margin:auto;
  position: relative;
  top: 22px;
  left: -15px;
}
button{
  min-height: 40px;
  border-radius: 40px;
  font-size: 120%;
}
