body{
  font-family: sans-serif;
  font-weight: 200;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}

li p{
  margin: 6px 0;
}

hr{
  border: 0.5px solid #ccc;
}


/* ================== svg and UI containers ================*/
#container,#sidebar, #searchPanel{
  float:left;
}
#sidebar, #searchPanel{
  width: 200px;
}
#searchResults{
  max-height: 80vh;
  overflow-y: scroll;
}

/* ===================  UI elements =======================*/
select, button, input{
  background-color: transparent;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  padding: 1px 5px;
  margin: 2px;
}

button{
  width: 150px;
}

select{
  max-width: 95%;
}

button:hover, button:active{
  border: 1.5px solid #000;
  background-color: #eee;
}

#searchPanel input{
  margin-bottom: 8px;
}

.bullet{
  float: left;
  margin-right: 7px;
  font-size: 150%;
  margin-top: -2px;
}

#yearSlider{

}
#yearLabel{
  margin-bottom: -3px;
}
#infoText{
  min-height: 100px;
}

/* ===================  Selected Item & Text Styling =====*/
.selected{
  stroke:#000000;
}
.selected-result{
  color:#ff0000;
}
#searchResults li{
  padding: 2px 0;
  text-transform: capitalize;
}
span.pub{
  font-style: italic;
  text-transform: capitalize;
  font-size: 14px;
}
span.author{
  text-transform: capitalize;
}
span.set, span.doctype-author{
  font-size: 12px;
  font-weight: 800;
}
span.cite{
  font-size: 12px;
}
span.year{
  font-size: 12px;
}
span.doctype-pub{
  display:none;
}
